In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
import pandas as pd
# At Intact, this session is usually already created for you in a notebook

spark = SparkSession.builder \
    .appName("KMeansFix") \
    .config("spark.driver.memory", "4g") \
    .config("spark.executor.memory", "4g") \
    .getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
26/01/03 17:50:23 WARN Utils: Your hostname, aduu-ThinkPad-P14s-Gen-4, resolves to a loopback address: 127.0.1.1; using 192.168.1.10 instead (on interface wlp0s20f3)
26/01/03 17:50:23 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/01/03 17:50:24 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
26/01/03 17:50:24 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
26/01/03 17:50:24 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [2]:
df = spark.read.csv("telecom_churn_data.csv",header=True,inferSchema=True)
print(df.show())
print(f"number of rows:{df.count()}")

+-----------+---+------------+--------------+--------------+-------------+------+-----+
|Customer_ID|Age|Monthly_Bill|Total_Usage_GB| Contract_Type|Support_Calls|Gender|Churn|
+-----------+---+------------+--------------+--------------+-------------+------+-----+
|          1| 56|       180.6|         540.9|Month-to-Month|            3|     0|    1|
|          2| 69|      105.41|         266.8|Month-to-Month|            0|     0|    0|
|          3| 46|       91.48|         412.1|      Two Year|            1|     1|    0|
|          4| 32|       45.06|         966.2|      One Year|            1|     0|    0|
|          5| 60|      139.03|         580.4|      Two Year|            2|     0|    1|
|          6| 25|      171.36|          25.8|      Two Year|            0|     0|    0|
|          7| 78|      173.61|         970.7|      Two Year|            1|     1|    0|
|          8| 38|       39.03|         687.6|      One Year|            2|     0|    0|
|          9| 56|       110.8|         755.3|Month-to-Month|            1|     0|    0|
|         10| 75|      195.15|         520.8|      Two Year|            2|     0|    0|
|         11| 36|       86.12|         711.6|Month-to-Month|            4|     1|    0|
|         12| 40|      136.03|         224.5|      Two Year|            1|     0|    0|
|         13| 28|      158.72|          92.8|Month-to-Month|            1|     1|    1|
|         14| 28|       178.2|         196.3|Month-to-Month|            0|     1|    1|
|         15| 41|      110.49|         208.9|      Two Year|            2|     0|    0|
|         16| 70|       175.4|         914.8|      Two Year|            2|     1|    0|
|         17| 53|       87.33|         675.8|Month-to-Month|            3|     0|    0|
|         18| 57|      138.64|         441.2|      One Year|            1|     1|    0|
|         19| 41|      113.32|         302.8|Month-to-Month|            1|     1|    0|
|         20| 20|      199.71|         282.2|      One Year|            0|     0|    1|
+-----------+---+------------+--------------+--------------+-------------+------+-----+
only showing top 20 rows
None
number of rows:5000000

In [3]:
# churned Customer dataframe:
from pyspark.sql.functions import col
churnedDf = df.groupBy(col("Churn")).count()
print(churnedDf.show())

contractTypeDf = df.groupBy(col("Contract_Type")).count()
print(contractTypeDf.show())

+-----+-------+
|Churn|  count|
+-----+-------+
|    1| 607088|
|    0|4392912|
+-----+-------+

None
+--------------+-------+
| Contract_Type|  count|
+--------------+-------+
|Month-to-Month|1666160|
|      One Year|1667487|
|      Two Year|1666353|
+--------------+-------+

None

### KMeans for this record:

In [4]:
print(df.show(2))

+-----------+---+------------+--------------+--------------+-------------+------+-----+
|Customer_ID|Age|Monthly_Bill|Total_Usage_GB| Contract_Type|Support_Calls|Gender|Churn|
+-----------+---+------------+--------------+--------------+-------------+------+-----+
|          1| 56|       180.6|         540.9|Month-to-Month|            3|     0|    1|
|          2| 69|      105.41|         266.8|Month-to-Month|            0|     0|    0|
+-----------+---+------------+--------------+--------------+-------------+------+-----+
only showing top 2 rows
None

In [5]:
from pyspark.ml.feature import VectorAssembler, StringIndexer, OneHotEncoder

#preprocessing contact type:
indexer = StringIndexer(inputCol='Contract_Type',outputCol='Contract_Type_Index')
indexed_df = indexer.fit(df).transform(df)
# print(indexed_df.show())

#applying one hot encoding:
encoder = OneHotEncoder(inputCol='Contract_Type_Index', outputCol='Contract_Vector')
encoded_df = encoder.fit(indexed_df).transform(indexed_df)
print(encoded_df.show())

+-----------+---+------------+--------------+--------------+-------------+------+-----+-------------------+---------------+
|Customer_ID|Age|Monthly_Bill|Total_Usage_GB| Contract_Type|Support_Calls|Gender|Churn|Contract_Type_Index|Contract_Vector|
+-----------+---+------------+--------------+--------------+-------------+------+-----+-------------------+---------------+
|          1| 56|       180.6|         540.9|Month-to-Month|            3|     0|    1|                2.0|      (2,[],[])|
|          2| 69|      105.41|         266.8|Month-to-Month|            0|     0|    0|                2.0|      (2,[],[])|
|          3| 46|       91.48|         412.1|      Two Year|            1|     1|    0|                1.0|  (2,[1],[1.0])|
|          4| 32|       45.06|         966.2|      One Year|            1|     0|    0|                0.0|  (2,[0],[1.0])|
|          5| 60|      139.03|         580.4|      Two Year|            2|     0|    1|                1.0|  (2,[1],[1.0])|
|          6| 25|      171.36|          25.8|      Two Year|            0|     0|    0|                1.0|  (2,[1],[1.0])|
|          7| 78|      173.61|         970.7|      Two Year|            1|     1|    0|                1.0|  (2,[1],[1.0])|
|          8| 38|       39.03|         687.6|      One Year|            2|     0|    0|                0.0|  (2,[0],[1.0])|
|          9| 56|       110.8|         755.3|Month-to-Month|            1|     0|    0|                2.0|      (2,[],[])|
|         10| 75|      195.15|         520.8|      Two Year|            2|     0|    0|                1.0|  (2,[1],[1.0])|
|         11| 36|       86.12|         711.6|Month-to-Month|            4|     1|    0|                2.0|      (2,[],[])|
|         12| 40|      136.03|         224.5|      Two Year|            1|     0|    0|                1.0|  (2,[1],[1.0])|
|         13| 28|      158.72|          92.8|Month-to-Month|            1|     1|    1|                2.0|      (2,[],[])|
|         14| 28|       178.2|         196.3|Month-to-Month|            0|     1|    1|                2.0|      (2,[],[])|
|         15| 41|      110.49|         208.9|      Two Year|            2|     0|    0|                1.0|  (2,[1],[1.0])|
|         16| 70|       175.4|         914.8|      Two Year|            2|     1|    0|                1.0|  (2,[1],[1.0])|
|         17| 53|       87.33|         675.8|Month-to-Month|            3|     0|    0|                2.0|      (2,[],[])|
|         18| 57|      138.64|         441.2|      One Year|            1|     1|    0|                0.0|  (2,[0],[1.0])|
|         19| 41|      113.32|         302.8|Month-to-Month|            1|     1|    0|                2.0|      (2,[],[])|
|         20| 20|      199.71|         282.2|      One Year|            0|     0|    1|                0.0|  (2,[0],[1.0])|
+-----------+---+------------+--------------+--------------+-------------+------+-----+-------------------+---------------+
only showing top 20 rows
None

In [6]:
# applying vectorAssembler:
# encoded_df = encoded_df.drop("Contract_Type_Index")
columnsArr = encoded_df.columns
print(columnsArr)
assembler = VectorAssembler(inputCols=['Age', 'Monthly_Bill', 'Total_Usage_GB', 'Support_Calls', 'Gender', 'Churn', 'Contract_Vector'],
                            outputCol='features')
preprocessedDf = assembler.transform(encoded_df)
print(preprocessedDf.show())

['Customer_ID', 'Age', 'Monthly_Bill', 'Total_Usage_GB', 'Contract_Type', 'Support_Calls', 'Gender', 'Churn', 'Contract_Type_Index', 'Contract_Vector']
+-----------+---+------------+--------------+--------------+-------------+------+-----+-------------------+---------------+--------------------+
|Customer_ID|Age|Monthly_Bill|Total_Usage_GB| Contract_Type|Support_Calls|Gender|Churn|Contract_Type_Index|Contract_Vector|            features|
+-----------+---+------------+--------------+--------------+-------------+------+-----+-------------------+---------------+--------------------+
|          1| 56|       180.6|         540.9|Month-to-Month|            3|     0|    1|                2.0|      (2,[],[])|[56.0,180.6,540.9...|
|          2| 69|      105.41|         266.8|Month-to-Month|            0|     0|    0|                2.0|      (2,[],[])|(8,[0,1,2],[69.0,...|
|          3| 46|       91.48|         412.1|      Two Year|            1|     1|    0|                1.0|  (2,[1],[1.0])|[46.0,91.48,412.1...|
|          4| 32|       45.06|         966.2|      One Year|            1|     0|    0|                0.0|  (2,[0],[1.0])|[32.0,45.06,966.2...|
|          5| 60|      139.03|         580.4|      Two Year|            2|     0|    1|                1.0|  (2,[1],[1.0])|[60.0,139.03,580....|
|          6| 25|      171.36|          25.8|      Two Year|            0|     0|    0|                1.0|  (2,[1],[1.0])|[25.0,171.36,25.8...|
|          7| 78|      173.61|         970.7|      Two Year|            1|     1|    0|                1.0|  (2,[1],[1.0])|[78.0,173.61,970....|
|          8| 38|       39.03|         687.6|      One Year|            2|     0|    0|                0.0|  (2,[0],[1.0])|[38.0,39.03,687.6...|
|          9| 56|       110.8|         755.3|Month-to-Month|            1|     0|    0|                2.0|      (2,[],[])|[56.0,110.8,755.3...|
|         10| 75|      195.15|         520.8|      Two Year|            2|     0|    0|                1.0|  (2,[1],[1.0])|[75.0,195.15,520....|
|         11| 36|       86.12|         711.6|Month-to-Month|            4|     1|    0|                2.0|      (2,[],[])|[36.0,86.12,711.6...|
|         12| 40|      136.03|         224.5|      Two Year|            1|     0|    0|                1.0|  (2,[1],[1.0])|[40.0,136.03,224....|
|         13| 28|      158.72|          92.8|Month-to-Month|            1|     1|    1|                2.0|      (2,[],[])|[28.0,158.72,92.8...|
|         14| 28|       178.2|         196.3|Month-to-Month|            0|     1|    1|                2.0|      (2,[],[])|[28.0,178.2,196.3...|
|         15| 41|      110.49|         208.9|      Two Year|            2|     0|    0|                1.0|  (2,[1],[1.0])|[41.0,110.49,208....|
|         16| 70|       175.4|         914.8|      Two Year|            2|     1|    0|                1.0|  (2,[1],[1.0])|[70.0,175.4,914.8...|
|         17| 53|       87.33|         675.8|Month-to-Month|            3|     0|    0|                2.0|      (2,[],[])|[53.0,87.33,675.8...|
|         18| 57|      138.64|         441.2|      One Year|            1|     1|    0|                0.0|  (2,[0],[1.0])|[57.0,138.64,441....|
|         19| 41|      113.32|         302.8|Month-to-Month|            1|     1|    0|                2.0|      (2,[],[])|[41.0,113.32,302....|
|         20| 20|      199.71|         282.2|      One Year|            0|     0|    1|                0.0|  (2,[0],[1.0])|[20.0,199.71,282....|
+-----------+---+------------+--------------+--------------+-------------+------+-----+-------------------+---------------+--------------------+
only showing top 20 rows
None

In [7]:
from pyspark.ml.feature import StandardScaler
scaler = StandardScaler(inputCol='features',outputCol='scaledFeatures')
finalData = scaler.fit(preprocessedDf).transform(preprocessedDf)
print(finalData.show())

+-----------+---+------------+--------------+--------------+-------------+------+-----+-------------------+---------------+--------------------+--------------------+
|Customer_ID|Age|Monthly_Bill|Total_Usage_GB| Contract_Type|Support_Calls|Gender|Churn|Contract_Type_Index|Contract_Vector|            features|      scaledFeatures|
+-----------+---+------------+--------------+--------------+-------------+------+-----+-------------------+---------------+--------------------+--------------------+
|          1| 56|       180.6|         540.9|Month-to-Month|            3|     0|    1|                2.0|      (2,[],[])|[56.0,180.6,540.9...|[3.13001991747009...|
|          2| 69|      105.41|         266.8|Month-to-Month|            0|     0|    0|                2.0|      (2,[],[])|(8,[0,1,2],[69.0,...|(8,[0,1,2],[3.856...|
|          3| 46|       91.48|         412.1|      Two Year|            1|     1|    0|                1.0|  (2,[1],[1.0])|[46.0,91.48,412.1...|[2.57108778935043...|
|          4| 32|       45.06|         966.2|      One Year|            1|     0|    0|                0.0|  (2,[0],[1.0])|[32.0,45.06,966.2...|[1.78858280998291...|
|          5| 60|      139.03|         580.4|      Two Year|            2|     0|    1|                1.0|  (2,[1],[1.0])|[60.0,139.03,580....|[3.35359276871795...|
|          6| 25|      171.36|          25.8|      Two Year|            0|     0|    0|                1.0|  (2,[1],[1.0])|[25.0,171.36,25.8...|[1.39733032029914...|
|          7| 78|      173.61|         970.7|      Two Year|            1|     1|    0|                1.0|  (2,[1],[1.0])|[78.0,173.61,970....|[4.35967059933334...|
|          8| 38|       39.03|         687.6|      One Year|            2|     0|    0|                0.0|  (2,[0],[1.0])|[38.0,39.03,687.6...|[2.12394208685470...|
|          9| 56|       110.8|         755.3|Month-to-Month|            1|     0|    0|                2.0|      (2,[],[])|[56.0,110.8,755.3...|[3.13001991747009...|
|         10| 75|      195.15|         520.8|      Two Year|            2|     0|    0|                1.0|  (2,[1],[1.0])|[75.0,195.15,520....|[4.19199096089744...|
|         11| 36|       86.12|         711.6|Month-to-Month|            4|     1|    0|                2.0|      (2,[],[])|[36.0,86.12,711.6...|[2.01215566123077...|
|         12| 40|      136.03|         224.5|      Two Year|            1|     0|    0|                1.0|  (2,[1],[1.0])|[40.0,136.03,224....|[2.23572851247863...|
|         13| 28|      158.72|          92.8|Month-to-Month|            1|     1|    1|                2.0|      (2,[],[])|[28.0,158.72,92.8...|[1.56500995873504...|
|         14| 28|       178.2|         196.3|Month-to-Month|            0|     1|    1|                2.0|      (2,[],[])|[28.0,178.2,196.3...|[1.56500995873504...|
|         15| 41|      110.49|         208.9|      Two Year|            2|     0|    0|                1.0|  (2,[1],[1.0])|[41.0,110.49,208....|[2.29162172529060...|
|         16| 70|       175.4|         914.8|      Two Year|            2|     1|    0|                1.0|  (2,[1],[1.0])|[70.0,175.4,914.8...|[3.91252489683761...|
|         17| 53|       87.33|         675.8|Month-to-Month|            3|     0|    0|                2.0|      (2,[],[])|[53.0,87.33,675.8...|[2.96234027903419...|
|         18| 57|      138.64|         441.2|      One Year|            1|     1|    0|                0.0|  (2,[0],[1.0])|[57.0,138.64,441....|[3.18591313028205...|
|         19| 41|      113.32|         302.8|Month-to-Month|            1|     1|    0|                2.0|      (2,[],[])|[41.0,113.32,302....|[2.29162172529060...|
|         20| 20|      199.71|         282.2|      One Year|            0|     0|    1|                0.0|  (2,[0],[1.0])|[20.0,199.71,282....|[1.11786425623931...|
+-----------+---+------------+--------------+--------------+-------------+------+-----+-------------------+---------------+--------------------+--------------------+
only showing top 20 rows
None

In [12]:
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import BinaryClassificationEvaluator

trainData,testData = finalData.randomSplit([0.8,0.2])
print(f"Size of trainData: {trainData.count()} & Test Data: {testData.count()}")

Size of trainData: 4001697 & Test Data: 998303

In [13]:
lr = LogisticRegression(featuresCol='scaledFeatures',labelCol='Churn')
lrModel = lr.fit(trainData)
print("Model Fitting done!")

Model Fitting done!

In [17]:
predictions = lrModel.transform(testData)
print(predictions.show())

evaluator = BinaryClassificationEvaluator(labelCol='Churn',metricName='areaUnderROC')
accuracy = evaluator.evaluate(predictions)
print(f"Model Accuracy (ROC):{accuracy}")

+-----------+---+------------+--------------+--------------+-------------+------+-----+-------------------+---------------+--------------------+--------------------+--------------------+--------------------+----------+
|Customer_ID|Age|Monthly_Bill|Total_Usage_GB| Contract_Type|Support_Calls|Gender|Churn|Contract_Type_Index|Contract_Vector|            features|      scaledFeatures|       rawPrediction|         probability|prediction|
+-----------+---+------------+--------------+--------------+-------------+------+-----+-------------------+---------------+--------------------+--------------------+--------------------+--------------------+----------+
|          5| 60|      139.03|         580.4|      Two Year|            2|     0|    1|                1.0|  (2,[1],[1.0])|[60.0,139.03,580....|[3.35359276871795...|[-18.253158567715...|[1.18237149646517...|       1.0|
|          7| 78|      173.61|         970.7|      Two Year|            1|     1|    0|                1.0|  (2,[1],[1.0])|[78.0,173.61,970....|[4.35967059933334...|[18.3393530838304...|[0.99999998915273...|       0.0|
|          8| 38|       39.03|         687.6|      One Year|            2|     0|    0|                0.0|  (2,[0],[1.0])|[38.0,39.03,687.6...|[2.12394208685470...|[19.4547680331508...|[0.99999999644449...|       0.0|
|          9| 56|       110.8|         755.3|Month-to-Month|            1|     0|    0|                2.0|      (2,[],[])|[56.0,110.8,755.3...|[3.13001991747009...|[18.7946178876864...|[0.99999999311979...|       0.0|
|         11| 36|       86.12|         711.6|Month-to-Month|            4|     1|    0|                2.0|      (2,[],[])|[36.0,86.12,711.6...|[2.01215566123077...|[18.8734486215716...|[0.99999999364134...|       0.0|
|         14| 28|       178.2|         196.3|Month-to-Month|            0|     1|    1|                2.0|      (2,[],[])|[28.0,178.2,196.3...|[1.56500995873504...|[-18.585535362623...|[8.48016973771220...|       1.0|
|         20| 20|      199.71|         282.2|      One Year|            0|     0|    1|                0.0|  (2,[0],[1.0])|[20.0,199.71,282....|[1.11786425623931...|[-18.683564094044...|[7.68831570301849...|       1.0|
|         21| 39|      175.26|         673.8|      One Year|            3|     1|    0|                0.0|  (2,[0],[1.0])|[39.0,175.26,673....|[2.17983529966667...|[18.2375192799734...|[0.99999998798991...|       0.0|
|         30| 38|      159.08|         955.2|      Two Year|            1|     0|    0|                1.0|  (2,[1],[1.0])|[38.0,159.08,955....|[2.12394208685470...|[18.4666498085935...|[0.99999999044928...|       0.0|
|         34| 39|       73.46|         424.2|      One Year|            4|     1|    0|                0.0|  (2,[0],[1.0])|[39.0,73.46,424.2...|[2.17983529966667...|[19.0685131689336...|[0.99999999476821...|       0.0|
|         36| 61|       44.95|         872.7|      One Year|            2|     1|    0|                0.0|  (2,[0],[1.0])|[61.0,44.95,872.7...|[3.40948598152992...|[19.4025899341410...|[0.99999999625404...|       0.0|
|         38| 66|      192.33|         232.8|Month-to-Month|            1|     0|    1|                2.0|      (2,[],[])|[66.0,192.33,232....|[3.68895204558975...|[-18.753890138650...|[7.16620116854556...|       1.0|
|         45| 32|       97.38|         569.3|      Two Year|            1|     0|    0|                1.0|  (2,[1],[1.0])|[32.0,97.38,569.3...|[1.78858280998291...|[18.9976567456912...|[0.99999999438405...|       0.0|
|         48| 64|      124.56|         327.6|Month-to-Month|            2|     0|    0|                2.0|      (2,[],[])|[64.0,124.56,327....|[3.57716561996582...|[18.6306788477379...|[0.99999999189414...|       0.0|
|         50| 68|       81.61|         420.6|      Two Year|            1|     0|    0|                1.0|  (2,[1],[1.0])|[68.0,81.61,420.6...|[3.80073847121368...|[19.1313077769613...|[0.99999999508663...|       0.0|
|         53| 69|      170.79|         752.3|      One Year|            3|     0|    1|                0.0|  (2,[0],[1.0])|[69.0,170.79,752....|[3.85663168402565...|[-18.571567008482...|[8.59945492007357...|       1.0|
|         61| 56|       85.91|         269.9|      Two Year|            1|     0|    0|                1.0|  (2,[1],[1.0])|[56.0,85.91,269.9...|[3.13001991747009...|[19.0948632081673...|[0.99999999490427...|       0.0|
|         65| 77|      145.52|         656.8|      Two Year|            2|     1|    0|                1.0|  (2,[1],[1.0])|[77.0,145.52,656....|[4.30377738652137...|[18.5360910449359...|[0.99999999108999...|       0.0|
|         68| 75|      199.21|         184.6|      Two Year|            1|     1|    0|                1.0|  (2,[1],[1.0])|[75.0,199.21,184....|[4.19199096089744...|[18.1187340127415...|[0.99999998647510...|       0.0|
|         71| 70|      154.93|         793.0|Month-to-Month|            1|     1|    0|                2.0|      (2,[],[])|[70.0,154.93,793....|[3.91252489683761...|[18.4140410688657...|[0.99999998993338...|       0.0|
+-----------+---+------------+--------------+--------------+-------------+------+-----+-------------------+---------------+--------------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows
None

Model Accuracy (ROC):0.9999998329564607